NEXT_PUBLIC_API_URL=http://localhost:8000
NEXT_PUBLIC_GA_MEASUREMENT_ID=

NEXT_PUBLIC_SENTRY_DSN=
SENTRY_DSN=
SENTRY_ORG=tsilva
SENTRY_PROJECT=minariviz
SENTRY_AUTH_TOKEN=
SENTRY_ENVIRONMENT=production
